@model ShopSite.Orders.ViewModels.OrderInformationVm

@{ 
    ViewBag.Title = Localizer["Delivery Information"];
}

<div class="row">
    <div class="col-md-7">
        <form asp-controller="Order" asp-action="OrderInformation" method="post" class="form-horizontal">
            <h3>@Localizer["Shipping address"]</h3>
            <div class="form-group">
                <strong>@Model.OrderAddress.Region</strong><br />
                @Model.OrderAddress.AddressLine2, @Model.OrderAddress.AddressLine3, @Model.OrderAddress.AddressLine1<br />
                Phone: @Model.OrderAddress.Phone
            </div>
            <div class="form-group">
                <div class="col-md-12 text-right">
                    <button type="submit" class="btn btn-order">@Localizer["Order"]</button>
                </div>
            </div>
        </form>
    </div>
</div>