@using Microsoft.EntityFrameworkCore.Metadata.Internal
@model LoginViewModel
@{
    ViewBag.Title = "Login";
}

<title>@ViewBag.Title</title>

<h1>@Localizer["Log in"]</h1>
<form method="post" asp-controller="Account" asp-action="Login" asp-route-returnurl="@Model.ReturnUrl">
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <label asp-for="Username">@Localizer["Username"]</label>
        <input asp-for="Username" />
        <span asp-validation-for="Username"></span>
    </div>
    <div>
        <label asp-for="Password">@Localizer["Password"]</label>
        <input asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </div>
    <div>
        <label asp-for="RememberMe">@Localizer["Remember me?"]</label>
        <input asp-for="RememberMe" />
        <span asp-validation-for="RememberMe"></span>
    </div>
    <div>
        <input type="submit" value="@Localizer["Log in"]" />
    </div>
</form>