@model ShopSite.ViewModels.ProductsByCategoryVM

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <p class="lead">@Localizer["products"] <label class="text-primary">@Model.CategoryName</label>  </p>
            <p class="lead">@Localizer["results"] <label class="text-info">@Model.TotalProducts</label></p>
            <div class="list-group">

                <div class="panel-group" id="accordion-price">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h2 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion-price" href="#collapse-price">
                                    @Localizer["Price"]
                                    <i class="fa fa-angle-down"></i>
                                </a>

                            </h2>
                        </div>
                        <div id="collapse-price" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <div>

                                    <form method="get">
                                        <div class="noUi-target noUi-ltr noUi-horizontal noUi-background" id="slider-range"></div>
                                        <br />
                                        <span class="pull-left" id="slider-range-lower"></span>
                                        <span class="pull-right" id="slider-range-upper"></span>

                                        <input asp-for="SearchMinPrice" type="hidden" id="slider-range-min" value="@Model.MinPrice.ToString("F0")" />
                                        <input asp-for="SearchMaxPrice" type="hidden" id="slider-range-max" value="@Model.MaxPrice.ToString("F0")" />

                                        <input type="hidden" id="last-range-min" value="@Model.SearchMinPrice" />
                                        <input type="hidden" id="last-range-max" value="@Model.SearchMaxPrice" />

                                        <br />
                                        <br>
                                </div>
                                <div class="price-actions">

                                    <button id="reset-price" type="button" class="btn btn-default">Reset</button>
                                    <button type="submit" asp-action="ProductsByCategory" class="btn btn-default">Apply</button>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <li class="pagination-option">
                    <label>Show :</label>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            20 <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">All</a></li>
                            <li><a href="#">50</a></li>
                            <li><a href="#">30</a></li>
                        </ul>
                    </div>
                </li>
            </div>
        </div>

        <div class="col-md-9">
            <div class="row">

                @foreach (var item in Model.Products)
                {
                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="http://placehold.it/320x150">
                            <div class="caption">
                                <h4 class="pull-right">@item.Price</h4>
                                <h4>
                                    <a asp-controller="Product" asp-action="Details" asp-route-id="@item.Id">@item.Name</a>
                                </h4>
                                <p>@item.ShortDescription</p>
                            </div>
                        </div>
                    </div>
                }


            </div>
        </div>

        

    </div>


</div>
<script src="~/lib/nouislider/nouislider.min.js"></script>
<script>

    var stepSliderMMValues =
     [document.getElementById('slider-range-min'),
     document.getElementById('slider-range-max'),
     document.getElementById('last-range-min'),
     document.getElementById('last-range-max')
     ];

    if (!stepSliderMMValues[2].value)
        stepSliderMMValues[2].value = stepSliderMMValues[0].value;

    if (!stepSliderMMValues[3].value)
        stepSliderMMValues[3].value = stepSliderMMValues[1].value;

    var rangeSlider = document.getElementById('slider-range');
    noUiSlider.create(rangeSlider, {
        start: [stepSliderMMValues[2].value, stepSliderMMValues[3].value],
        connect: true,
        step: 1,
        range: {
            'min': parseInt(stepSliderMMValues[0].value),
            'max': parseInt(stepSliderMMValues[1].value)
        }
    });

    var stepSliderValueElement =
        [document.getElementById('slider-range-lower'),
        document.getElementById('slider-range-upper')
        ];

    rangeSlider.noUiSlider.on('update', function (values, handle) {
        stepSliderValueElement[0].textContent = values[0];
        stepSliderValueElement[1].textContent = values[1];

        stepSliderMMValues[0].value = values[0];
        stepSliderMMValues[1].value = values[1];
    });
</script>