@model ShopSite.ViewModels.Product.ProductListViewModel

@{
    ViewBag.Title = "Products";
}

<div class="row">
    <div class="col-md-6">
        <h2>Product List</h2>
    </div>
    <div class="col-md-4 text-right">
        <a class="btn btn-primary" asp-action="ProductCreate"><span class="glyphicon glyphicon-plus"></span> Create Product</a>
    </div>
</div>


<form asp-action="Products" method="get">
    <div class="form-actions no-color">
        <p>
            Find by name: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Search" class="btn btn-xs btn-default" /> |
            <a asp-action="Products">Back to Full List</a>
        </p>
    </div>
</form>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th><a asp-action="Products" asp-route-sortOrder="@ViewData["StockSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Stock</a></th>
            <th><a asp-action="Products" asp-route-sortOrder="@ViewData["PriceSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Price</a></th>
            <th><a asp-action="Products" asp-route-sortOrder="@ViewData["IsFeaturedParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Is Featured</a></th>
            <th><a asp-action="Products" asp-route-sortOrder="@ViewData["IsAllowedToOrderParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Is Allowed To Order</a></th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Products)
        {
            <tr>

                <td>@item.Name</td>
                <td>@item.StockQuantity</td>
                <td>@item.Price</td>
                <td><span class="@(item.IsFeatured ? "glyphicon glyphicon-ok-sign":"")"></span></td>
                <td><span class="@(item.IsAllowedToOrder ? "glyphicon glyphicon-ok-sign":"")"></span></td>
                <td>
                    <a title="Edit" class="btn btn-primary" asp-action="ProductEdit" asp-route-id="@item.Id"><span class="glyphicon glyphicon-pencil"></span></a>
                    <a title="Remove" class="btn btn-danger delete" asp-action="ProductRemove" asp-route-id="@item.Id"><span class="glyphicon glyphicon-remove"></span></a>
                </td>

            </tr>
        }
    </tbody>
</table>

<div class="row">
    <div class="col-md-12 text-right">
        <a asp-action="Products"
           asp-route-page=@(Model.IndexPage-1)
           asp-route-sortOrder="@ViewData["CurrentSort"]"
           asp-route-currentFilter="@ViewData["CurrentFilter"]"
           class="btn btn-default @((!Model.Products.HasPreviousPage)?"disabled":"") ">@Localizer["Previous"]</a>
        @for (int i = 0; i < Model.Products.TotalPages; i++)
        {
            <a asp-action="Products" asp-route-page="@i.ToString()"
               class="btn @((Model.IndexPage == i)? "btn-primary" : "btn-default") ">@i.ToString()</a>
        }
        <a asp-action="Products"
           asp-route-page=@(Model.IndexPage+1)
           asp-route-sortOrder="@ViewData["CurrentSort"]"
           asp-route-currentFilter="@ViewData["CurrentFilter"]"
           class="btn btn-default @((!Model.Products.HasNextPage)?"disabled":"")">@Localizer["Next"]</a>
    </div>
</div>