@model ShopSite.ViewModels.HomePageVm


@{ ViewBag.Title = Localizer["Home"]; }
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <p class="lead">Shop Name</p>
            <div class="list-group">
                @await Component.InvokeAsync("CategoryMenu")
            </div>
        </div>
        <div class="col-md-9">
            @await Html.PartialAsync("_ShowProductsPartial", Model.Products)
        </div>

        <div class="row">
            <div class="col-md-12 text-right">
                <a asp-action="Index" 
                   asp-route-IndexPage=@(Model.IndexPage-1) 
                   class="btn btn-default @((!Model.Products.HasPreviousPage)?"disabled":"") ">@Localizer["Previous"]</a>
                @for (int i =0; i< Model.Products.TotalPages; i++)
                {
                    <a asp-action="Index" asp-route-IndexPage="@i.ToString()" 
                       class="btn @((Model.IndexPage == i)? "btn-primary" : "btn-default") ">@i.ToString()</a>
                }
                <a asp-action="Index" 
                   asp-route-IndexPage=@(Model.IndexPage+1) 
                   class="btn btn-default @((!Model.Products.HasNextPage)?"disabled":"")">@Localizer["Next"]</a>
            </div>
        </div>
    </div>
</div>
    
