@model ShopSite.Search.ViewModels.SearchResultsVm

@{
    ViewBag.Title = Localizer["Results"];
}

<h3>@ViewBag.PageSize</h3>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="list-group">
                <div class="panel-group" id="accordion-price">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h2 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion-price" href="#collapse-price">
                                    @Localizer["Price"]
                                    <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
                                </a>
                            </h2>
                        </div>
                        <div id="collapse-price" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <form method="get" asp-action="Index">
                                    <div>
                                        <div class="noUi-target noUi-ltr noUi-horizontal noUi-background" id="slider-range"></div>
                                        <br />

                                        <input asp-for="SearchMinPrice"  size="3" class="pull-left" value="@Math.Floor(Model.MinPrice)" />
                                        <input asp-for="SearchMaxPrice"  size="3" class="pull-right" value="@Math.Ceiling(Model.MaxPrice)" />

                                        <input type="hidden" id="last-range-min" value="@Model.SearchMinPrice" />
                                        <input type="hidden" id="last-range-max" value="@Model.SearchMaxPrice" />

                                        <br />
                                        <br />
                                    </div>
                                    <div class="price-actions">
                                        <!--<button id="reset-price" type="button" class="btn btn-default">Reset</button>-->
                                        <button type="submit" class="btn btn-default center-block">@Localizer["Apply"]</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-9">
            
            <form asp-action="Index" method="get">
                <div class="form-actions no-color">
                    <p>
                        <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
                        <button type="submit" class="btn btn-info">
                            <span class="glyphicon glyphicon-search"></span> @Localizer["Search"]
                        </button>
                        <a asp-action="Index">Back to Full List</a>
                    </p>
                </div>
            </form>
              
            <div class="row">
                @await Html.PartialAsync("_ShowProductsPartial", Model.Products)
            </div>
            @{

            }
            <div class="row">
                <div class="col-md-12 text-right">
                    <a asp-action="Products"
                       asp-route-page=@(Model.IndexPage-1)
                       asp-route-sortOrder="@ViewData["CurrentSort"]"
                       asp-route-currentFilter="@ViewData["CurrentFilter"]"
                       class="btn btn-default @((!Model.Products.HasPreviousPage)?"disabled":"") ">@Localizer["Previous"]</a>
                    @for (int i = 0; i < Model.Products.TotalPages; i++)
                    {
                        <a asp-action="Products" asp-route-page="@i.ToString()"
                           class="btn @((Model.IndexPage == i)? "btn-primary" : "btn-default") ">@i.ToString()</a>
                    }
                    <a asp-action="Products"
                       asp-route-page=@(Model.IndexPage + 1)
                       asp-route-sortOrder="@ViewData["CurrentSort"]"
                       asp-route-currentFilter="@ViewData["CurrentFilter"]"
                       class="btn btn-default @((!Model.Products.HasNextPage)?"disabled":"")">@Localizer["Next"]</a>
                </div>
            </div>

        </div>
    </div>
</div>

<script src="~/lib/nouislider/nouislider.min.js"></script>
<script>

    var stepSliderMMValues =
     [document.getElementById('SearchMinPrice'),
     document.getElementById('SearchMaxPrice')
     ];

    var startMin = @Model.SearchMinPrice.GetValueOrDefault().ToString("F0");
    var startMax = @Model.SearchMaxPrice.GetValueOrDefault().ToString("F0");

    if (!startMin) startMin = @Math.Floor(@Model.MinPrice);
    if (!startMax) startMax = @Math.Ceiling(@Model.MaxPrice);

    if (stepSliderMMValues[0].value == stepSliderMMValues[1].value)
        stepSliderMMValues[0].value = 0;

    var rangeSlider = document.getElementById('slider-range');
    noUiSlider.create(rangeSlider, {
        start: [startMin, startMax],
        connect: true,
        step: 1,
        range: {
            'min': parseInt(stepSliderMMValues[0].value),
            'max': parseInt(stepSliderMMValues[1].value)
        }
    });

    var stepSliderValueElement =
        [document.getElementById('SearchMinPrice'),
        document.getElementById('SearchMaxPrice')
        ];

    rangeSlider.noUiSlider.on('update', function (values, handle) {
        stepSliderMMValues[0].value = values[0];
        stepSliderMMValues[1].value = values[1];
    });
</script>